<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>New Chat</h3>
    <hr>
    <form method="post" action="/chats">
        <input placeholder="who are you" name="from"/>
        <br>
        <br>
        <textarea name="msg">Write your message here..</textarea>
        <br>
        <br>

        <input placeholder="to whom" name="to"/>
        <br>
        <br>
        <button>Send</button>
    </form>
    
</body>
</html>